*, *::before, *::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body,
h1, h2, h3, h4,
p, ul, ol, li,
fieldset, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol { list-style: none; }

.page {
  display: flex;
  margin: 0 auto;
  inline-size: 1200px;
  block-size: 100%;
  background-color: #1b1919;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 32px;
  inline-size: 100%;
  max-block-size: 534px;
  margin: auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-inline-size: 720px;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.search-form__fieldset {
  min-width: 0;
  border: none;
}

.search-form__fieldset:first-child{
  flex-grow: 1;
  max-width: 225px;
}

.search-form__fieldset-title {
  margin-block-end: 6px;
  font-size: 18px;
  font-weight: 300;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 100%;
  block-size: 28px;
  border: none;
  border-block: 1px solid #fff;
  background: transparent;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  font-weight: 300;
}

.search-form__textfield::placeholder {
  color: #fff;
  opacity: .7;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  background: transparent;
  position: relative;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #fff;
}

.button {
  inline-size: 100%;
  block-size: 34px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  transition: opacity .3s ease;
}

.button:hover { opacity: .6; }
.button:active { background-color: #545050; }

.search-form__submit-button {
  inline-size: 194px;
  flex-shrink: 0;
  align-self: flex-end;
}

.search-form__submit-button:hover, .search-form__label-text:hover {
  text-decoration: underline;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-inline-size: 400px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.94;
}

.content__accent { color: #545050; }

.content__list-container {
  max-block-size: 600px;
  padding-inline-end: 3px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content__list-item {
  margin: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: opacity .3s ease;
}

.content__card-link:hover { text-decoration: underline; }
.content__card-link:active { background-color: #545050; }

.content__video-card {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  min-block-size: 100px;
}

.content__video-card-description-container {
  min-inline-size: 0;
  flex-shrink: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.more-button {
  margin-block: 30px 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}
